.message {
    display: block;
    
    position: fixed;
    top: 2.2rem;
    left: -100rem;
    z-index: 9999;

    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.35);

    animation: messageFixed 7s ease-in-out;
}

@keyframes messageFixed {
    from {
        opacity: .4;
    }
    8% {
        opacity: 1;
        left: 5rem;
    }
    12% {
        left: 1rem;
    }
    90% {
        left: 1rem;
    }
    94% {
        left: 5rem;
    }
    to {
        left: -100rem;
    }
}
